In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta 
import json
from geopy.distance import geodesic
from itertools import combinations
import mlrose
import time
from sklearn.cluster import KMeans
import math

/Users/cathlinewl/.conda/envs/ai_env/lib/python3.7/site-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [2]:
#load clustered data
input_dir = '../3-output_data_cluster/data/'
# input data file here
# ex : 201808_data_cluster_4.csv
month = '201808' #input year & month here ex: 201808
input_file_name = input_dir+month+ '_data_cluster_4.csv'#input filename here ex: _data_cluster_4.csv
data = pd.read_csv(input_file_name, sep = ",")
len(data)

414

In [3]:
#load station_status.json for inventory at each station
file = '../1-raw_data/2018/station_status.json'
with open(file) as json_file:
    jdata = json.load(json_file)
file2= '../1-raw_data/2018/station_information.json'
with open(file2) as json_file2:
    jdata2 = json.load(json_file2)

In [4]:
#record timestamp
timestamp1=jdata['last_updated']
timestamp2=jdata2['last_updated']
print("timestamp:",timestamp1,timestamp2,"; station_status, station_info ready")

timestamp: 1574476618 1574481682 ; station_status, station_info ready

In [5]:
#change dict to dataframe for json file and subsetting
station_data_json=jdata['data']['stations']
station_data=pd.DataFrame.from_dict(station_data_json, orient='columns')
station_data=station_data[['station_id','num_bikes_available','num_docks_available']]

#change dict to dataframe for json2 file and subsetting
station_info_json=jdata2['data']['stations']
station_info=pd.DataFrame.from_dict(station_info_json, orient='columns')
station_info=station_info[['station_id','short_name']]

#merge to retain full station_data
merged_data=pd.merge(station_data,station_info,how='outer',on='station_id')
merged_data.rename(columns={'short_name':'Station'},inplace=True)
merged_data['Station'] = merged_data['Station'].astype(int)
print("check length:",len(station_data),len(station_info),"==>",len(merged_data))
merged_data.head(2)

check length: 574 574 ==> 574

  station_id  num_bikes_available  num_docks_available  Station
0         72                    1                   18    31215
1         91                    0                   23    31227

In [6]:
optim_data=pd.merge(merged_data,data,how='right',on='Station')
print("check length:",len(data),len(merged_data),"==>",len(optim_data))

check length: 414 574 ==> 414

In [7]:
# Divide data into cluster and filter
cluster_data= {}
for i in np.unique(optim_data['Cluster Label']):
    cluster_data[i] = optim_data[optim_data['Cluster Label'] == i]
evaluation_data= cluster_data.copy()

In [8]:
# filter balanced stations
cluster_data[0]
for i in cluster_data:
#     rent_imbalance = cluster_data[i][cluster_data[i]['num_bikes_available'] <= 3] 
#     return_imbalance = cluster_data[i][cluster_data[i]['num_bikes_available'] >= cluster_data[i]['num_docks_available']]
    cluster_data[i] = cluster_data[i][(cluster_data[i]['num_docks_available'] <= 2) | (cluster_data[i]['num_bikes_available'] <= 2)] 
    print(len(cluster_data[i]))

21
1
52
9
46

In [9]:
# subclustering
for i in cluster_data:
    if len(cluster_data[i]) > 25: 
        k = cluster_data[i][['longitude', 'latitude']]
        kmeans = KMeans(n_clusters = math.ceil(len(cluster_data[i])/20), random_state= 2).fit(k)
        kmeans_label = kmeans.labels_
        cluster_data[i]['new_label'] = kmeans_label
        cluster_data[i]['Cluster Label'] = cluster_data[i]['Cluster Label'].astype(str)+'-' + cluster_data[i]['new_label'].astype(str)
        del cluster_data[i]['new_label']
        print(cluster_data[i])
#             print(cluster_data[i][cluster_data[i]['new_label']== j])

        #         for j in np.unique(cluster_data[i]['new_label']):
#             if len(cluster_data[i][cluster_data[i]['new_label']== j]) > 25:
#                 print(cluster_data[i][cluster_data[i]['new_label']==j])

    station_id  num_bikes_available  num_docks_available  Station  Unnamed: 0  \
3            1                    2                   13    31000           0
25          24                   14                    1    31202         126
26          25                   22                    1    31203         127
29          28                    1                   13    31400         244
33          32                    2                   12    31601         282
41          43                   15                    0    31111         105
45          47                   13                    0    31109         103
56          59                   19                    0    31214         137
62          65                    0                   11    31402         246
68          73                    1                   10    31501         259
83          88                   17                    0    31609         290
88          94                    2                   21    31505         263
90          96                   17                    0    31616         297
92          98                    2                    8    31618         299
108        116                    0                   15    31304         227
132        145                   14                    1    31245         168
142        156                    0                   11    31035          34
156        170                   12                    2    31036          35
161        175                    0                   11    31032          31
165        179                   14                    1    31803         337
176        191                    0                   14    31043          42
195        211                    0                   14    31053          52
200        217                    2                   17    31406         250
201        218                    1                   18    31407         251
202        219                    2                    9    31056          54
203        220                   11                    0    31057          55
204        222                   11                    0    31059          56
214        233                   10                    1    31630         311
223        245                    2                    9    31065          60
224        246                    2                    8    31066          61
227        249                   15                    0    31118         112
233        255                    2                    9    31067          62
236        258                    2                   13    32001         366
240        265                    8                    1    32008         370
244        272                   10                    1    31119         113
252        286                    0                   15    32025         378
258        296                    2                    9    32035         384
272        314                    1                   14    31313         235
277        323                    1                   10    31075          69
299        346                    2                   13    31090          84
308        356                   14                    1    31094          88
311        359                   12                    2    31902         345
322        376                    0                   19    31316         238
336        394                   18                    1    31285         208
339        397                    0                   22    31123         117
340        398                   17                    2    31910         352
341        399                   19                    0    31286         209
343        401                   16                    2    31318         240
374        449                    2                   13    31414         256
379        455                   14                    1    31412         254
390        476                   15                    0    31921         362
394        484                   18                    1    31126         120

    Cluster Label  EM Label  \
3             2-1         1
25            2-0         2
26            2-0         2
29            2-0         2
33            2-0         2
41            2-0         2
45            2-0         2
56            2-0         2
62            2-2         0
68            2-0         0
83            2-0         2
88            2-0         2
90            2-0         2
92            2-0         2
108           2-2         2
132           2-0         2
142           2-1         0
156           2-1         0
161           2-1         1
165           2-0         0
176           2-1         1
195           2-1         0
200           2-2         0
201           2-2         1
202           2-1         0
203           2-1         1
204           2-1         0
214           2-0         2
223           2-1         0
224           2-1         1
227           2-0         0
233           2-1         0
236           2-2         0
240           2-2         1
244           2-0         2
252           2-2         1
258           2-2         1
272           2-2         0
277           2-1         0
299           2-1         1
308           2-1         0
311           2-1         0
322           2-2         1
336           2-0         2
339           2-0         2
340           2-1         1
341           2-0         0
343           2-2         1
374           2-2         1
379           2-2         0
390           2-1         1
394           2-0         2

                                                  name  longitude   latitude
3                                  Eads St & 15th St S -77.053230  38.858971
25                                      14th & R St NW -77.032523  38.912681
26                          14th & Rhode Island Ave NW -77.032300  38.908600
29                      Georgia & New Hampshire Ave NW -77.024649  38.936043
33                           19th & East Capitol St SE -76.976900  38.889600
41                                      10th & U St NW -77.025900  38.917200
45                                       7th & T St NW -77.022200  38.915500
56                               17th & Corcoran St NW -77.038700  38.912100
62           14th St Heights / 14th & Crittenden St NW -77.032818  38.947774
68                                 12th & Newton St NE -76.991016  38.933668
83                               Maine Ave & 7th St SW -77.023054  38.878694
88                              Eckington Pl & Q St NE -77.004950  38.910972
90                                       3rd & H St NE -77.001949  38.900412
92                            4th & East Capitol St NE -77.000349  38.889955
108                 36th & Calvert St NW / Glover Park -77.070334  38.922581
132                       7th & R St NW / Shaw Library -77.022155  38.912719
142                             N Quincy St & Glebe Rd -77.107735  38.876393
156                      George Mason Dr & Wilson Blvd -77.120700  38.878870
161                         Washington Blvd & 7th St N -77.090792  38.880810
165                          Good Hope Rd & 14th St SE -76.985238  38.866611
176                     Saint Asaph St & Pendleton  St -77.044664  38.810743
195                    Columbia Pike & S Courthouse Rd -77.080319  38.863833
200                                14th & Upshur St NW -77.032678  38.942475
201                          14th St & Colorado Ave NW -77.032947  38.956432
202                                Troy St & 26th St S -77.075104  38.847977
203                Four Mile Run Dr & S Shirlington Rd -77.085931  38.844400
204                Four Mile Run Dr & S Walter Reed Dr -77.095431  38.847360
214                          15th & East Capitol St NE -76.983326  38.889908
223                             Pershing Dr & Wayne St -77.085960  38.880705
224                          Columbia Pike & S Orme St -77.072315  38.867262
227                                    3rd & Elm St NW -77.015970  38.917622
233                   Columbia Pike & S Walter Reed Dr -77.086599  38.862478
236                          Fenton St & New York Ave  -77.023082  38.985404
240                              Cordell & Norfolk Ave -77.098029  38.989540
244                               14th & Belmont St NW -77.031887  38.921074
252                         Carroll & Westmoreland Ave -77.011210  38.975000
258                            Georgia Ave & Spring St -77.031555  38.999388
272                     Connecticut Ave & Tilden St NW -77.061977  38.941139
277                                Rolfe St & 9th St S -77.076131  38.866471
299       Long Bridge Park / Long Bridge Dr & 6th St S -77.050030  38.865553
308                            Lee Hwy & N Kirkwood Rd -77.097130  38.895377
311                       Wilson Blvd & N Illinois St  -77.127120  38.876528
322                         Yuma St & Tenley Circle NW -77.080590  38.946182
336                                     22nd & P ST NW -77.048728  38.909394
339                                14th & Girard St NW -77.032375  38.925284
340                       Potomac Ave & Main Line Blvd -77.049265  38.822738
341                                     11th & O St NW -77.027140  38.908430
343                       Connecticut Ave & Yuma St NW -77.065115  38.947156
374                   Georgia Ave & Piney Branch Rd NW -77.027976  38.967505
379                               3rd St & Riggs Rd NE -77.002239  38.957463
390  Westover Library / Washington Blvd & N McKinle... -77.142317  38.886048
394                                11th & Girard St NW -77.027112  38.925636
    station_id  num_bikes_available  num_docks_available  Station  Unnamed: 0  \
0           72                    1                   18    31215         138
8            6                    0                   18    31005           5
10           8                    2                   17    31007           7
12          11                    9                    2    31010           9
24          23                   16                    2    31201         125
27          26                    0                   15    31204         128
31          30                    0                   11    31502         260
37          39                    2                    9    31801         335
44          46                    0                   15    31110         104
49          52                   12                    2    31603         284
52          55                    2                   12    31604         285
53          56                    1                    9    31605         286
57          60                   14                    1    31300         223
60          63                    2                   11    31301         224
70          75                   14                    0    31218         141
73          78                    2                   16    31613         294
75          80                    0                   15    31303         226
111        124                    0                   28    31240         163
116        129                   14                    1    31016          15
126        139                    1                   14    31021          20
138        151                    0                   15    31307         230
139        152                   14                    1    31708         333
145        159                   20                    1    31263         186
148        162                   15                    0    31628         309
171        186                   18                    1    31251         174
182        197                    1                   21    31048          47
186        201                    2                    8    31049          48
225        247                    0                   13    31269         192
239        263                    9                    2    32000         365
243        271                    0                   19    32014         373
250        282                   13                    2    32021         376
270        312                   15                    0    31073          67
291        337                   15                    0    31082          76
305        353                   22                    1    31517         275
316        369                   23                    0    31639         320
324        380                    1                   14    31097          91
329        385                    0                   19    31317         239
332        389                    1                    9    32055         395
333        390                    2                   17    31283         206
344        402                    2                   20    31641         322
345        404                   16                    2    31904         347
351        410                    2                   16    31290         213
361        420                    0                   25    31319         241
395        485                    1                   18    31299         222
397        487                    0                   17    31320         242
399        489                    1                   13    31127         121

    Cluster Label  EM Label  \
0             4-2         2
8             4-0         1
10            4-0         2
12            4-0         1
24            4-2         2
27            4-2         2
31            4-2         2
37            4-2         2
44            4-2         2
49            4-2         2
52            4-2         2
53            4-2         2
57            4-1         1
60            4-1         1
70            4-2         2
73            4-2         2
75            4-1         1
111           4-2         1
116           4-0         1
126           4-0         2
138           4-1         1
139           4-2         1
145           4-2         2
148           4-2         2
171           4-2         2
182           4-0         2
186           4-0         2
225           4-2         2
239           4-1         1
243           4-1         1
250           4-1         2
270           4-0         1
291           4-0         1
305           4-2         2
316           4-2         2
324           4-0         1
329           4-1         1
332           4-1         1
333           4-2         2
344           4-2         2
345           4-0         1
351           4-2         2
361           4-1         1
395           4-2         2
397           4-1         1
399           4-2         2

                                                  name  longitude   latitude
0                       Georgetown Harbor / 30th St NW -77.059219  38.902221
8           Pentagon City Metro / 12th St & S Hayes St -77.059936  38.862303
10            Crystal City Metro / 18th St & S Bell St -77.051132  38.857405
12                            S Glebe Rd & Potomac Ave -77.050200  38.842600
24                                      15th & P St NW -77.034438  38.909850
27                                      20th & E St NW -77.045000  38.896300
31                 John McCormack Dr & Michigan Ave NE -76.995500  38.934600
37                                     Anacostia Metro -76.994637  38.862669
44                            20th St & Florida Ave NW -77.044600  38.915400
49                                       1st & M St NE -77.005600  38.905700
52                                       3rd & H St NW -77.015289  38.899408
53                                       3rd & D St SE -77.002300  38.885100
57                                Van Ness Metro / UDC -77.063896  38.944551
60                   Ward Circle / American University -77.087171  38.938736
70                      L'Enfant Plaza / 7th & C St SW -77.022241  38.886266
73   Eastern Market Metro / Pennsylvania Ave & 7th ... -76.995397  38.884000
75        Tenleytown / Wisconsin Ave & Albemarle St NW -77.079382  38.947607
111   Ohio Dr & West Basin Dr SW / MLK & FDR Memorials -77.046570  38.884120
116                         Clarendon Blvd & Pierce St -77.076389  38.893438
126                     Clarendon Blvd & N Fillmore St -77.093080  38.888100
138             3000 Connecticut Ave NW / National Zoo -77.055599  38.930282
139     Anacostia Ave & Benning Rd NE / River Terrace  -76.960120  38.896544
145                                     10th & K St NW -77.026220  38.902400
148                                      1st & K St SE -77.005727  38.878854
171                                     12th & L St NW -77.028400  38.903819
182                                King St Metro South -77.060627  38.805763
186                               Utah St & 11th St N  -77.113905  38.883669
225                       3rd St & Pennsylvania Ave SE -77.001955  38.887378
239                          Norfolk Ave & Fairmont St -77.096539  38.988562
243  Friendship Hts Metro / Wisconsin Ave & Wiscons... -77.085998  38.961763
250                                      47th & Elm St -77.091991  38.982456
270                  Washington Blvd & Walter Reed Dr  -77.082104  38.873219
291                      Eisenhower Ave & Mill Race Ln -77.068952  38.801111
305                                       Union Market -76.997070  38.907908
316                                      2nd & G St NE -77.003666  38.899670
324                        Saint Asaph St & Madison St -77.044097  38.812718
329                      Wisconsin Ave & Ingomar St NW -77.084636  38.958267
332                       Woodmont Ave & Strathmore St -77.093522  38.979875
333                                     14th & L St NW -77.031737  38.903658
344                      2nd St & Massachusetts Ave NE -77.003135  38.894972
345  East Falls Church Metro / Sycamore St & 19th St N -77.156427  38.885321
351                      17th St & Independence Ave SW -77.038325  38.888097
361                   Wisconsin Ave & Brandywine St NW -77.080217  38.949813
395                          Connecticut Ave & R St NW -77.045640  38.912644
397                    American University East Campus -77.087128  38.936298
399                                     22nd & H St NW -77.048946  38.899104

/Users/cathlinewl/.conda/envs/ai_env/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/cathlinewl/.conda/envs/ai_env/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/cathlinewl/.conda/envs/ai_env/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/cathlinewl/.conda/envs/ai_env/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
# for i in cluster_data:
#     print(len(np.unique(cluster_data[i]['Cluster Label'])))
print(len(cluster_data[0]))

21

In [11]:
# distance matrix
for m in cluster_data:
    best_route = {}
    for uni in np.unique(cluster_data[m]['Cluster Label']):
        temp = cluster_data[m][cluster_data[m]['Cluster Label'] == uni].reset_index(drop=True).reset_index()
        k = list(zip(temp['longitude'], temp['latitude']))
        if len(k) > 3:
            distance = []
            for i in range(len(k)):
                for j in range(len(k)):
                    if i < j:
                        d = geodesic(k[i],k[j]).miles
                        distance.append((i,j,d))
            fitness_dists= mlrose.TravellingSales(distances = distance)
            problem_fit = mlrose.TSPOpt(length = len(temp), fitness_fn= fitness_dists,maximize= False)
            best_state,best_fitness = mlrose.genetic_alg(problem_fit, random_state = 2,mutation_prob= 0.20, max_attempts=70)
            print(best_state)
            print(best_fitness)
            output_csv = temp.reindex(list(best_state))
            output_csv.to_csv(f'cluster{uni}.csv', index=False)

[ 1  3  5 10  8  4  9 12 19 20 18 16 17  2  0 15 14 11  7  6 13]
70.26456499388892
[16 17  6  9  4 20 19  5 12  1  0 15 18 11  7 13  3 14 10  8  2]
19.30845921445249
[12 10  5  0  2 17 15  1  8 14  6 16 13  4  7 11  3  9]
22.80588080821402
[ 1  9  5 10  8  7 12  6 11  4  0  3  2]
15.3955350792274
[2 0 5 7 1 4 6 3 8]
36.596255832370744
[ 1  0  7  3  4  6 10  8  9  5  2]
18.478238599248545
[ 4  8  1 10  2  0  3  9  7  5  6]
6.3505127307582905
[ 6 13  1  0 19 12 20  8  4 10  7  5 23  2  9 15 22 11 21 18 14 17  3 16]
28.368825409950713

In [ ]:
#evaluation 
# distance calculator         
for m in evaluation_data:
    best_route = {}
    for uni in np.unique(evaluation_data[m]['Cluster Label']):
        temp = evaluation_data[m][evaluation_data[m]['Cluster Label'] == uni].reset_index(drop=True).reset_index()
        k = list(zip(temp['longitude'], temp['latitude']))
        if len(k) > 3:
            distane = []
            for i in range(len(k)):
                for j in range(len(k)):
                    if i < j:
                        d = geodesic(k[i],k[j]).miles
                        distance.append((i,j,d))
            fitness_dists= mlrose.TravellingSales(distances = distance)
            problem_fit = mlrose.TSPOpt(length = len(temp), fitness_fn= fitness_dists,maximize= False)
            best_state,best_fitness = mlrose.genetic_alg(problem_fit, random_state = 2) 
            print(uni, best_state)
            print(best_fitness)